<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-kobidvora999" value="https://nuget.pkg.github.com/kobidvora999/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-kobidvora999>
      <add key="Username" value="kobidvora999" />
      <add key="ClearTextPassword" value="%GITHUB_NUGET_TOKEN%" />
    </github-kobidvora999>
  </packageSourceCredentials>
</configuration>
